# Notebook 3: Operaciones de Administración de Base de Datos relacional

En el ciclo de vida de una base de datos relacional, a menudo el administrador de la BD tiene que realizar ciertas operaciones de mantención. Mencionamos en particular:

1- Realizar una copia de seguridad de los datos

2- Crear usuarios y definir permisos de acceso a la BD

3- Modificar la estructura de la BD

4- Agregar restricciones o reglas de integridad sobre la estructura de los datos

## Ejercicio 1: Crear una BD de prueba básica

Para realizar los ejercicios siguientes, primero vamos a crear una BD de prueba básica, llamada "Valdivia". Esta base de datos está constituida por 3 tablas:

- PERSONA(pk_RUT, Nombre, Edad)   (ej.: "1, Juan, 20")

- LUGAR_DE_INTERES(pk_Lugar, Descripcion, Categoria, Latitud, Longitud)  (ej.; "1, Mercado Fluvial, Turismo, -39.81, -73.24")

- DESPLAZARSE(#pk_RUT, fecha, Latitud, Longitud)  (ej. "1, 30/09/2018 12:00:00, -39, -70")

1) Implementar la estructura de esta base de datos en MySQL indicando las claves primarias y foraneas y los tipos de datos

2) Insertar al menos 5 filas en cada tabla

3) ¿A qué tipo de aplicación podría servir esta base de datos?

### Respuestas Ejercicio 1:

1)  Implementación en MYSQL

    CREATE TABLE PERSONA (
        pk_RUT INT,
        Nombre VARCHAR(30),
        Edad INT, 
        PRIMARY KEY (pk_RUT));
   
    CREATE TABLE LUGAR_DE_INTERES (
        pk_Lugar INT,
        Descripcion VARCHAR(30),
        Categoria VARCHAR(30),
        Latitud FLOAT,
        Longitud FLOAT,
        PRIMARY KEY (pk_Lugar));
    
    CREATE TABLE DESPLAZARSE( 
        pk_RUT INT,
        fecha DATETIME(6), 
        Latitud FLOAT,
        Longitud FLOAT,
        FOREIGN KEY (pk_RUT) REFERENCES PERSONA(pk_RUT));
    
2) 
    INSERT INTO PERSONA( pk_RUT, Nombre, Edad) VALUES (1, "Juan", 20)
    INSERT INTO PERSONA( pk_RUT, Nombre, Edad) VALUES (2, "Manuel", 23)
    INSERT INTO PERSONA( pk_RUT, Nombre, Edad) VALUES (3, "Viejo", 80)
    INSERT INTO PERSONA( pk_RUT, Nombre, Edad) VALUES (4, "Potricio", 22)
    INSERT INTO PERSONA( pk_RUT, Nombre, Edad) VALUES (5, "La Ranita", 23);
    
    INSERT INTO LUGAR_DE_INTERES (pk_Lugar, Descripcion, Categoria, Latitud, Longitud)
     VALUES (1, "Mercado Fluvial", "Turismo", -39.81, -73.24);
    INSERT INTO LUGAR_DE_INTERES (pk_Lugar, Descripcion, Categoria, Latitud, Longitud)
     VALUES (2, "El Mercadito", "Negocio", -100.81, 33.24);
    INSERT INTO LUGAR_DE_INTERES (pk_Lugar, Descripcion, Categoria, Latitud, Longitud)
     VALUES (3, "La chunga", "Lugar Maravilloso", -00.81, 4.24);
    INSERT INTO LUGAR_DE_INTERES (pk_Lugar, Descripcion, Categoria, Latitud, Longitud)
     VALUES (4, "Shot", "Hace show un vedetto guapo", 15.81, 60.15);
    INSERT INTO LUGAR_DE_INTERES (pk_Lugar, Descripcion, Categoria, Latitud, Longitud)
     VALUES (5, "Santa Isabel Ruben Dario", "Puros pollos", 200.81, 100.24);
        
    INSERT INTO DESPLAZARSE (pk_RUT, fecha, Latitud, Longitud) 
     VALUES (1, '2018-09-30 12:00:00', -39, -70);
    INSERT INTO DESPLAZARSE (pk_RUT, fecha, Latitud, Longitud) 
     VALUES (2, '2018-12-30 22:00:00', -40, 100);
    INSERT INTO DESPLAZARSE (pk_RUT, fecha, Latitud, Longitud) 
     VALUES (3, '2018-07-30 12:00:13', 79, 70);
    INSERT INTO DESPLAZARSE (pk_RUT, fecha, Latitud, Longitud) 
     VALUES (4, '2018-01-30 12:00:00', -9, 150);
    INSERT INTO DESPLAZARSE (pk_RUT, fecha, Latitud, Longitud) 
     VALUES (5, '2018-02-10 12:40:00', -9, 30);
        
3) Para una aplicación utilizada por alguna persona que quiera conocer lugares en Valdivia.

## Ejercicio 2: Realizar una copia de seguridad de una BD y exportar datos

<a href="https://dev.mysql.com/doc/refman/8.0/en/backup-and-recovery.html"> Backup and Recovery in MySQL</a>

1) ¿Por qué hacer copias de seguridad de su base de datos?

2) Utilizar el comando <code>Mysqldump</code> para realizar una copia de su base de datos. ¿Cuál es el <i>output</i> de este comando?

3) En algunos casos, queremos simplemente exportar datos para poder utilizarlos en otros contextos. ¿En qué consiste el formato de datos CSV? ¿Cómo exportar datos al formato CSV desde MySQL? (ver: <a href="http://www.mysqltutorial.org/mysql-export-table-to-csv/">Tutorial</a>)

### Respuestas Ejercicio 2:
1) Para no perder los datos que son de vital importancia para la mayor parte de las 
   empresas u proyectos.
    
2)  mysqldump -u root -p Valdivia > RespaldoVAldivia.sql (Respaldo .sql)

   -mysqldump -u root -p Valdivia | gzip > Respaldo_Valdivia.sql.gz (Zip en directorio terminal)
   
3) Es un formato para representar datos de forma sencilla similar a una tabla donde las columnas se separan por punto y coma (;) y las filas por saltos de linea.

## Ejercicio 3: Gestionar usuarios y privilegios de lectura y escritura

En la configuración por defecto de MySQL, existe un sólo usuario, llamado 'root', lo cual tiene todos los derechos. En término de seguridad es muy poco recomendable trabajar siempre con el usuario 'root' (en particular cuando se deja los passwords en el código o un archivo de parametros). 

1) ¿Cuáles son los tipos de privilegios en una base de datos relacional?

2) Crear un nuevo usuario y darle todos los privilegios sobre la base de datos 'Valdivia'

3) Crear un nuevo usuario, lo cual tendrá solamente acceso de lectura sobre la tabla Lugar_de_interes y Desplazarse

### Respuestas Ejercicio 3:
1) Los tipos de privilegios en MySQL son:
- Privilegios administrativos los cuales 
permiten al usuario manejar globalmente cualquier operación en MySQL 
server, es decir para cualquier base de datos.
- Privilegios de una base de datos específica y sus objetos incluidos.
- Privilegios para algún objeto específico dentro de una DB, por ejemplo una tabla en particular.

2)  Privilegios al usuario "user" sobre la DB Valdivia.

    CREATE USER 'user'@'localhost' IDENTIFIED BY 'user'; 
    GRANT ALL PRIVILEGES ON Valdivia to 'user'@'localhost';

3) Privilegios de lectura en las tablas 

    GRANT SELECT ON LUGAR_DE_INTERES to 'user'@'localhost';
    GRANT SELECT ON DESPLAZARSE to 'user'@'localhost';

## Ejercicio 4: Modificar la estructura de una Base de Datos

Supongamos que queremos modificar la estructura de la base de datos 'Valdivia'. 

1) Modificar la BD (sin borrarla) para agregar un campo 'nivel de estudio' en la tabla 'Persona'.

2) Modificar la BD (sin borrarla) para dejar la posibilidad de tener varias categorías para describir un lugar de interés (implica crear una tabla adicional)

3) Agregar una restricción para que las columnas "Latitud" y "Longitud" nuncan sean NULL

### Respuesta Ejercicio 4:

1) Se suma el campo nivel_de_estudio en tabla PERSONA.
           
       ALTER TABLE PERSONA ADD ( Nivel_de_estudio VARCHAR(30));

2) Elimina columna "Categoria" de la tabla LUGAR_DE_INTERES.
   
       ALTER TABLE LUGAR_DE_INTERES DROP COLUMN Categoria; 
    
   Creo una tabla que contendrá las categorías nuevas.
       
       CREATE TABLE CATEGORIA( 
           pk_Lugar INT, 
           cat VARCHAR(30),
           FOREIGN KEY (pk_Lugar) 
           REFERENCES LUGAR_DE_INTERES (pk_Lugar)); 

3) Cambio lat y long a not NULL;

    ALTER TABLE LUGAR_DE_INTERES MODIFY Latitud FLOAT not NULL;

    ALTER TABLE LUGAR_DE_INTERES MODIFY Longitud FLOAT not NULL;

## Ejercicio 5 (opcional): Innovación para Valdivia - Smart City

1) Revisar el concurso "Desafio Smart City": https://www.innoving.cl/smartcity

2) Considerando que la empresa Telefonica del Sur podría darle acceso a ciertos datos telefónicos de la Ciudad, imaginar un escenario de innovación basado sobre una base de datos similar a aquella que creamos.

### Trabajo realizado en conjunto durante una clase C: